:root{
--green:#fff;
--white:#ffffff;
--black:#000000;
}
*{
  color:var(--fontColor);
  font-family:helvetica;
}

body{
    background:
    linear-gradient(45deg, rgb(255,182,193),transparent)
    

    
}

body{
    font-family: monospace;
    margin-bottom: -25px;
    text-align: center;
    padding: 50px;
    font-weight:bold;
    margin left: 50;
    margin right:50;

}

h1{
    color:#000;
    font-size:30px;
    font-family:sans-serif;
    text-align: center;

}


h2{
    color:#363636;
    font-size:30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow',
    'Arial','sans-serif';
    text-align: center;
    }

h3{
    color:#363636;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow',
    'Arial','sans-serif';
    text-align: center;
    }

    h4{
        color:#363636;
        font-size: 40px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow',
        'Arial','sans-serif';
        text-align: center;
        }



    p{
         color:#363636;
        font-size: 15px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        text-align: left;
    }
         
        #box{
            font-size: 20px;
            column-count: 4;
            column-gap: 20px;
        }


img{
    border-color: rgb(107,9,187);
    border-width: 50px;
    border-style: solid;
    border-radius: 100%;
    width: 300px;
}


i{
color:rgb(231, 40, 231);
font-size: 400;
align-content: center;
}


/*.light-theme{
    --bg:var(--green);
    --fontColor:var(--black);
}

.dark-theme{
    --bg:var(--black);
    --fontColor:var(--green);
}

.btn{
    color:var(--btnFontColor);
    background-color:var(--btnBg);
}*/

.btn{
    position:absolute;
    top: 95px;
    left: 1000px;
    height: 95px;
    width:95px;
    border-radius:100%;
    border:none;
    color:var(--btnBg);
}
.btn:focus{ outline-style: none;}

button{
    color:rgb(231, 40, 231);
    
}