body{
    text-align: center;
    background-color: rgb(255,182,193);


}

h1{

}

h2{

}


h3{

}

p{
 text-align:center;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, 
 Verdana, sans-serif;
 font-size: 30px;

}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }
  
  input,
  button,
  select,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  button {
    border: none;
  }
  
  .container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  label{
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }
  
 
  button{
    display: flex;
    color:rgb(102, 15, 102);
     font-size: 100%;
    align-items: center;
    width: auto;
    

